body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-revealed{
  visibility: hidden;
}
.text-hidden{  
  animation-name: fade-in;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100;}
}